@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans selection:bg-indigo-100 selection:text-indigo-900;
  }
}

.card-shadow {
  box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.05);
}

.glass-card {
  @apply bg-white/80 backdrop-blur-xl border border-white shadow-xl shadow-slate-200/50;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}
